<svg class="fullsvg" viewBox="0 0 100 100">
    <g id="grazie">
        <circle
            style="opacity:1;vector-effect:none;fill:#f4eed7;fill-opacity:1;stroke:none;stroke-width:13.090909;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            id="path855"
            cx="50"
            cy="50"
            r="40" />
        <text
            id="text841"
            y="38.877361"
            x="54.032322"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;line-height:1.25;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#f4eed7;fill-opacity:1;stroke:#f4eed7;stroke-width:12;stroke-miterlimit:4;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;"
            xml:space="preserve"><tspan
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:12;stroke:#f4eed7;stroke-miterlimit:4;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;fill:#f4eed7;"
            y="38.877361"
            x="54.032322"
            id="tspan837">Grazie per</tspan><tspan
            id="tspan839"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:12;stroke:#f4eed7;stroke-miterlimit:4;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;fill:#f4eed7;"
            y="68.929031"
            x="54.032322">gli Auguri!</tspan></text>
        <text
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;line-height:1.25;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#ff6600;fill-opacity:1;stroke:#e9ddaf;stroke-width:7;stroke-miterlimit:4;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;"
            x="54.032322"
            y="38.877361"
            id="text853"><tspan
            id="tspan849"
            x="54.032322"
            y="38.877361"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:7;stroke:#e9ddaf;stroke-miterlimit:4;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;fill:#ff6600;">Grazie per</tspan><tspan
            x="54.032322"
            y="68.929031"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:7;stroke:#e9ddaf;stroke-miterlimit:4;stroke-dasharray:none;stroke-linecap:round;stroke-linejoin:round;fill:#ff6600;"
            id="tspan851">gli Auguri!</tspan></text>
        <text *ngIf="shared.game.state === 'complete'"
            xml:space="preserve"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;line-height:1.25;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#800000;fill-opacity:1;stroke:none;stroke-width:0.60105956;"
            x="54.032322"
            y="38.877361"
            id="text833"><tspan
            id="tspan831"
            x="54.032322"
            y="38.877361"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:0.60105956;fill:#800000;">Grazie per</tspan><tspan
            x="54.032322"
            y="68.929031"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:24.04133415px;font-family:'A Charming Font Expanded';-inkscape-font-specification:'A Charming Font Expanded, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:center;writing-mode:lr-tb;text-anchor:middle;stroke-width:0.60105956;fill:#800000;"
            id="tspan835">gli Auguri!</tspan></text>
        <path *ngIf="shared.game.state != 'complete'"
            id="path1230"
            style="opacity:0.5;fill:#ffffff;"
            d="m 55.550696,78.862165 -7.525463,-2.615232 4.10965,11.261509 z M 65.264415,43.10287 v 0 Q 75.40511,34.403221 75.40511,29.012641 q 0,-6.084418 -14.410462,-11.26151 -6.404649,-2.294999 -16.385229,-1.868022 -5.337208,0.213488 -10.674416,1.54779 -9.340114,2.294999 -9.340114,8.005812 0,3.309069 5.764185,6.511394 2.882092,1.601163 9.446858,2.668604 5.924301,0.960698 10.300812,0.960698 1.868023,0 3.469185,-0.106745 L 50.587093,34.723453 Q 44.929652,34.403221 39.805932,32.535198 33.508027,30.240199 33.08105,26.931129 L 32.920934,25.6502 q -0.106745,-0.480349 -0.106745,-0.960698 0,-7.151859 14.570579,-7.68558 9.019881,-0.320232 12.916043,1.654535 6.244534,3.148953 7.205231,6.991743 0.320233,1.227557 -0.160116,2.935464 -1.120814,4.216394 -12.275579,15.211043 -8.859765,8.753022 -8.859765,14.944183 0,7.205231 12.008718,13.34302 l 0.960698,-0.640465 Q 54.10965,68.668097 52.294999,62.797168 51.441046,59.968448 51.974767,57.993681 53.148952,53.670542 65.264415,43.10287 Z" />
 
    </g>
</svg>

