/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'AR JULIAN';
    src: url(./assets/ttf/ar-julian.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'A Charming Font Expanded';
    src: url(./assets/ttf/charming-expanded.ttf) format("truetype");
    font-weight:300;
}

.bg-full {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("assets/bg-200.png");
    background-repeat: repeat;
}

.bg-scores {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-family: 'AR JULIAN';
    div {
        padding-top: 10px;
    }
}

.button {
    padding: 5px;
    margin: 5px;
    background-color: #ffeeaa;
    border: 1px solid #806600;
}
.disabled {
    opacity: 0.5;
}

.scrollable {
    overflow: auto;
}