<div class="fullpage bg-scores">
    <h1>Tempo impiegato</h1>
    <div>
        <strong>{{shared.game.score}}</strong> secondi!
    </div>
    <div *ngIf="!done">
        <div>
            <input #playerinput type="text" [(ngModel)]="player" />
        </div>
        <div>
            <span class="button" [ngClass]="{'disabled': player===''}" (click)="clickRegister()">Registra il tuo punteggio!</span>
        </div>    
    </div>
    <div *ngIf="done">
        <div>
            <span class="button" (click)="shared.newGame()">Gioca di nuovo!</span>
        </div>
        <app-classifica></app-classifica>
        <div style="height: 70px;"></div>
    </div>
</div>
