<svg class="fullsvg" [attr.viewBox]="viewBox()">
    <defs>
        <clipPath
            id="clipPath27"
            clipPathUnits="userSpaceOnUse">
            <rect
                ry="4.4840765"
                y="2"
                x="2"
                height="96"
                width="96"
                id="rect29"
                style="opacity:1;vector-effect:none;fill:#800080;fill-opacity:1;stroke:none;stroke-width:3.42420387;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
        </clipPath>

    </defs>
    <g *ngFor="let tile of shared.game.tiles; let i = index" [attr.transform]="tileTransform(i)" (click)="clickTile(tile)">
        <rect *ngIf="tile.state !== 'gone'"
            ry="4.4840765"
            y="2"
            x="2"
            height="96"
            width="96"
            id="rect15"
            style="opacity:1;vector-effect:none;fill:#800080;fill-opacity:1;stroke:none;stroke-width:3.42420387;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
        <image *ngIf="tile.state === 'visible'"
            clip-path="url(#clipPath27)"
            width="96"
            height="96"
            preserveAspectRatio="none"
            [attr.xlink:href]="'assets/' + tile.name + '.jpg'"
            id="image24"
            x="2"
            y="2" />
       
    </g>
</svg>
<div class="panel-menu-list top-right-menu">
  <div class="panel-menu-item">
    <svg viewBox="0 0 100 100">
        <g app-timed-score></g>
    </svg>
  </div>
</div>
